<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.css') }}"> 
    </head>

    <body>

        <h1>What's the deal with headers?</h1>
        <a href="https://www.w3schools.com/TAGs/tag_header.asp">
            <button class="btn btn-primary"> Click here </button> 
        </a>
        <a href="https://www.w3schools.com/html/html_headings.asp">
            <button class="btn btn-success"> Click here </button>
        </a>
        <p>Are you learning? If so then chose a prize</p>
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown button
            </button>
            <div class="dropdown">
                <a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Dropdown link
                </a>
              
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
              </div>
          </div>
          <img src="https://thumbs.gfycat.com/AmazingPotableKomododragon.webp" alt="We did....IT">
    </body>
</html>