<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.css') }}"> 
    </head>
    <body>
        <h1>Aahh, welcome back</h1>
        <img src="https://i.gifer.com/DK1.mp4"
        <p>Did you learn what you needed to learn?</p>
        <a href="https://youtu.be/dQw4w9WgXcQ" alt="Good Job">
            <button>If so then press this button</button>
        <a href="https://www.w3schools.com/html/default.asp">
            <button>If not then don't worry</button>
    <img src="https://i.gifer.com/1XYj.mp4" alt="We Got You">
    </body>
</html>